use Mix.Config

host = "{{ env_dict.client_domain }}"
cors_proxy_host = "{{ env_dict.proxy_domain }}"
assets_host = "{{ env_dict.assets_domain }}"
link_host = "{{ env_dict.link_domain }}"
dev_janus_host = "{{ env_dict.api_domain }}"

config :ret, RetWeb.Endpoint,
  http: [port: 4000, otp_app: :ret],
  https: false,
  protocol: "http",
  url: [host: host, scheme: "https", port: 443, ip: {127, 0, 0, 1}],
  debug_errors: true,
  secret_key_base: "{{ env_dict.phoenix_secret }}",
  cors_proxy_url: [scheme: "https", host: cors_proxy_host],
  assets_url: [scheme: "https", host: assets_host],
  link_url: [scheme: "https", host: link_host],
  imgproxy_url: [scheme: "http", host: host, port: 5000],
  allowed_origins: "*",
  allow_crawlers: false

# Allow any origin for API access in dev
config :cors_plug, origin: ["*"]

# Configure your database
config :ret, Ret.Repo,
  username: "{{ env_dict.db_user }}",
  password: "{{ env_dict.db_password }}",
  database: "{{ env_dict.db_name }}",
  hostname: "localhost",
  template: "template0",
  pool_size: 10

config :ret, Ret.SessionLockRepo,
  username: "{{ env_dict.db_user }}",
  password: "{{ env_dict.db_password }}",
  database: "{{ env_dict.db_name }}",
  hostname: "localhost",
  template: "template0",
  pool_size: 10

config :ret, Ret.Locking,
  lock_timeout_ms: 1000 * 60 * 15,
  session_lock_db: [
    username: "{{ env_dict.db_user }}",
    password: "{{ env_dict.db_password }}",
    database: "{{ env_dict.db_name }}",
    hostname: "localhost",
  ]

config :ret,
  # This config value is for local development only.
  upload_encryption_key: "a8dedeb57adafa7821027d546f016efef5a501bd",
  bot_access_key: ""


asset_hosts =
  "https://localhost:4000 https://localhost:8080 " <>
    "https://#{host}:4000 https://#{host}:8080 https://#{host}:3000 https://#{host}:8989 https://#{host}:9090 https://#{
      cors_proxy_host
    }:4000 " <>
    "https://assets-prod.reticulum.io https://asset-bundles-dev.reticulum.io https://asset-bundles-prod.reticulum.io"

websocket_hosts =
  "https://localhost:4000 https://localhost:8080 wss://localhost:4000 " <>
    "https://#{host}:4000 https://#{host}:8080 wss://#{host}:4000 wss://#{host}:8080 wss://#{host}:8989 wss://#{host}:9090 " <>
    "wss://#{host}:4000 wss://#{host}:8080 https://#{host}:8080"

config :ret, RetWeb.Plugs.AddCSP,
  script_src: asset_hosts,
  font_src: asset_hosts,
  style_src: asset_hosts,
  connect_src:
    "https://#{host}:8080 https://sentry.prod.mozaws.net #{asset_hosts} #{websocket_hosts} https://www.mozilla.org",
  img_src: asset_hosts,
  media_src: asset_hosts,
  manifest_src: asset_hosts

config :peerage, log_results: true, via: Peerage.Via.Dns,
  dns_name: "foo.bar",
  app_name: "foo"

config :ret, Ret.Storage,
  host: "https://#{host}",
  storage_path: "storage/prod",
  ttl: 60 * 60 * 24

config :ret, Ret.Habitat, ip: "127.0.0.1", http_port: 9631

config :logger, :console,
  format: "$time $metadata[$level] $message\n",
  metadata: [:request_id]

config :logger, :ex_syslogger, level: :info
config :logger, :console, level: :info
config :logger, level: :info

config :ret, Ret.Repo.Migrations.AdminSchemaInit, postgrest_password: "{{ env_dict.postgres_superuser_password }}"

config :ret, Ret.PermsToken, perms_key: "{{ env_dict.auth_private_key.replace('\n', '\\n') }}"

config :ret, Ret.JanusLoadStatus, default_janus_host: dev_janus_host, janus_port: 4443

config :ret, Ret.Meta, phx_host: host

config :ret, RetWeb.Email, from: "{{ env_dict.smtp_from_addr }}"

config :ret, Ret.Mailer,
  adapter: Bamboo.SMTPAdapter,
  server: "{{ env_dict.smtp_server }}",
  hostname: "{{ env_dict.smtp_hostname }}",
  port: {{ env_dict.smtp_port }},
  username: "{{ env_dict.smtp_username }}",
  password: "{{ env_dict.smtp_password }}",
  tls: :if_available,
  ssl: true,
  allowed_tls_versions: [:"tlsv1", :"tlsv1.1", :"tlsv1.2"],
  tls_log_level: :error,
  retries: 3,
  auth: :always

config :ret, Ret.Guardian,
  issuer: "ret",
  secret_key: "{{ env_dict.guardian_secret }}",
  ttl: {12, :weeks},
  allowed_drift: 60 * 1000

config :web_push_encryption, :vapid_details,
  subject: "mailto:{{ env_dict.webpush_email }}",
  public_key: "{{ env_dict.webpush_public_key }}",
  private_key: "{{ env_dict.webpush_private_key }}"

config :ret, Ret.MediaResolver,
  giphy_api_key: nil,
  deviantart_client_id: nil,
  deviantart_client_secret: nil,
  imgur_mashape_api_key: nil,
  imgur_client_id: nil,
  youtube_api_key: nil,
  sketchfab_api_key: nil,
  ytdl_host: nil,
  photomnemonic_endpoint: "https://uvnsm9nzhe.execute-api.us-west-1.amazonaws.com/public"

config :ret, Ret.Speelycaptor, speelycaptor_endpoint: "https://1dhaogh2hd.execute-api.us-west-1.amazonaws.com/public"

config :ret, RetWeb.PageController,
  skip_cache: true,
  assets_path: "storage/assets",
  docs_path: "storage/docs"

config :ret, Ret.PageOriginWarmer,
  hubs_page_origin: "https://{{ env_dict.assets_domain }}/_frontend/hubs",
  admin_page_origin: "https://{{ env_dict.assets_domain }}/_frontend/admin"
  #spoke_page_origin: "http://localhost:9090"
