{%- macro dburi() -%}
{%- if postgres_password -%}
postgres://{{ postgres_user }}:{{ postgres_password }}@{{ postgres_host }}:{{ postgres_port }}/{{ postgres_database }}
{%- else -%}
postgres://{{ postgres_user }}@{{ postgres_host }}:{{ postgres_port }}/{{ postgres_database }}
{%- endif -%}
{%- endmacro -%}

[Unit]
Description=PostgREST
{% if postgres_service -%}
After=network.target {{ postgres_service }}
{% else -%}
After=network.target
{%- endif %}

[Service]
Restart=on-failure
User=postgres
WorkingDirectory=/
Environment="PGRST_DB_URI={{- dburi() -}}"
Environment="PGRST_DB_SCHEMAS={{- postgres_schema -}}"
Environment="PGRST_DB_ANON_ROLE=postgrest_anonymous"
ExecStart=/usr/bin/postgrest

PrivateTmp=true
ProtectHome=true
ProtectSystem=full
PrivateDevices=false
CapabilityBoundingSet=~CAP_SYS_ADMIN

[Install]
WantedBy=multi-user.target
